* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --warning-color: #F2BC36;
    --dark-color: black;
    --muted-color: rgb(163, 157, 157);
    --primary-color: #122D52;
    --primary-dark-color: #1F2937;
    --secondary-color: #262a2e;
    --secondary-light-color: #F9FAFB;
    --light-color: #FFFFFF;
    --dark-light-color: #1A1A1A;
}

body {
    background-color: var(--dark-color);
}

body.light-theme {
    background-color: white;
    --light-color: black;
    --dark-color: #FFFFFF;
    --muted-color: black;
    --secondary-light-color: black;
    --dark-light-color: #F9FAFB;
}

/* navigation */
header {
    top: -999px;
}

header.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: var(--dark-color);
    transition: ease 0.5s;
}

nav .navbar-brand {
    color: var(--light-color) !important;
    font-weight: bold;
    font-size: 25px;
}

nav .navbar-toggler {
    background-color: grey;
}

nav ul li a {
    color: var(--light-color) !important;
    text-transform: capitalize;
    font-weight: 500;
    margin-right: 25px;
    font-size: 18px;
}

nav ul li a.active span {
    color: var(--warning-color) !important;
    border-bottom: 1px solid var(--warning-color);
    border-width: 2px;
    height: 32px;
    display: inline-block;
}

/* banner */
.my-banner .info {
    margin-top: 100px;
}

.my-banner .info h6 {
    margin-bottom: 15px;
    color: var(--warning-color);
    font-weight: bold;
}

.my-banner .info h2 {
    font-size: 70px;
    font-weight: bold;
    color: var(--light-color);
}

.my-banner .info h3 {
    margin-top: 25px;
    color: var(--light-color);
}

.my-banner .info .contact-me {
    margin-top: 45px;
}

.my-banner .info .contact-me span a {
    color: var(--light-color);
    border: 1px solid var(--light-color);
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: 500;
    text-decoration: none;
}

.my-banner .info .contact-me span a:hover {
    color: var(--dark-color);
    background-color: var(--warning-color);
}

.my-banner .info .contact-me span.active a {
    color: var(--dark-color);
    background-color: var(--warning-color);
}

.my-banner .info .contact-me span:last-child {
    margin-left: 15px;
}

/* about-me */
.about-me {
    margin-top: 60px;
}

.about-me h2 {
    font-size: 50px;
    font-weight: bold;
    color: var(--light-color);
}

.about-me p {
    margin-top: 25px;
    color: var(--muted-color);
}

.about-me table tr {
    line-height: 40px;
}

.about-me table tr th:first-child {
    width: 40%;
    color: var(--light-color);
}

.about-me table tr td:last-child {
    color: var(--muted-color);
}

.about-me .cv {
    margin-top: 20px;
}

.about-me .cv div {
    font-size: 20px;
    font-weight: bolder;
    color: var(--light-color);
}

.about-me .cv .qty-project {
    color: var(--warning-color);
    font-size: 25px;
}

.about-me .cv .qty-project+span {
    color: var(--warning-color);
    font-size: 25px;
}

.about-me .cv a {
    color: var(--light-color);
    border: 1px solid var(--light-color);
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: 500;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    background-color: var(--warning-color);
    color: var(--dark-color);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 12px;
}

/* Resume */
.resume {
    margin-top: 60px;
}

.resume h2 {
    font-size: 50px;
    font-weight: bold;
    color: var(--light-color);
    text-align: center;
    margin-bottom: 30px;
}

.resume>p {
    text-align: center;
    width: 80%;
    margin: auto;
    color: var(--muted-color);
}

.resume .info {
    margin-top: 50px;
}

.resume .info .box {
    padding: 35px 25px;
    border-radius: 10px;
    margin-bottom: 25px;
    background-color: var(--dark-light-color);
}

.resume .info .box:hover {
    border: 1px solid var(--light-color);
    transition: ease 0.5s;
}

.resume .info .year {
    color: var(--warning-color);
}

.resume .info .position {
    color: var(--light-color);
}

.resume .info .word-place {
    font-size: 15px;
    text-transform: uppercase;
    color: var(--muted-color);
}

.resume .info p {
    color: var(--muted-color);
}

.resume .cv {
    margin-top: 40px;
    text-align: center;
}

.resume .cv a {
    color: var(--light-color);
    border: 1px solid var(--light-color);
    padding: 22px 45px;
    border-radius: 35px;
    font-weight: 500;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    background-color: var(--warning-color);
    color: var(--dark-color);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 12px;
}

/* My Skill */
.my-skill {
    margin-top: 80px;
}

.my-skill h2 {
    font-size: 50px;
    font-weight: bold;
    color: var(--light-color);
    text-align: center;
    margin-bottom: 30px;
}

.my-skill p {
    color: var(--muted-color);
    text-align: center;
}

.my-skill .button-group {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.my-skill .button-group button {
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px;
    border: 1px solid var(--light-color);
    background-color: var(--light-color);
    color: var(--dark-color);
}

.my-skill .button-group button.active {
    background-color: var(--warning-color);
    color: var(--dark-color);
}

.my-skill .box img {
    width: 100%;
    height: 120px;
}

/* Our Projects */
.our-projects {
    margin-top: 80px;
}

.our-projects h2 {
    font-size: 50px;
    font-weight: bold;
    color: var(--light-color);
    text-align: center;
    margin-bottom: 30px;
}

.our-projects p {
    color: var(--muted-color);
    text-align: center;
}

.our-projects .box h6 {
    color: var(--light-color);
}

.our-projects .view-website {
    color: var(--light-color);
    border: 1px solid var(--light-color);
    padding: 2px 6px;
    border-radius: 35px;
    font-weight: 500;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    background-color: var(--warning-color);
    color: var(--dark-color);
    text-transform: uppercase;
    font-size: 10px;
}

.our-projects .badge-dark {
    background-color: var(--light-color);
    color: var(--dark-color);
    padding: 2px 5px;
}

/* Contact Me */
.contact-me {
    margin-top: 50px;
}

.contact-me h2 {
    font-size: 50px;
    font-weight: bold;
    color: var(--light-color);
    text-align: center;
    margin-bottom: 30px;
}

.contact-me p {
    color: var(--muted-color);
    text-align: center;
}

.contact-me .icon {
    font-size: 40px;
    color: var(--warning-color);
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: #1A1A1A;
    margin: auto;
    padding-top: 18px;
}

.contact-me .title {
    margin-top: 20px;
    color: var(--light-color);
    text-transform: uppercase;
    font-weight: 500;
}

.contact-me .desc {
    color: var(--muted-color);
    margin-top: 15px;
}

.form-contact .box-avatar {
    background-color: var(--dark-light-color);
    height: 100%;
}

.form-contact form {
    background-color: var(--light-color);
    padding: 30px;
}

.form-contact form input {
    height: 50px;
}

.form-contact form button {
    color: var(--light-color);
    border: 1px solid var(--light-color);
    padding: 15px 35px;
    border-radius: 35px;
    font-weight: 500;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    background-color: var(--warning-color);
    color: var(--dark-color);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 12px;
}

#form-contact .error {
    color: red;
}

/* Footer */
footer {
    margin-top: 80px;
}

footer h3 {
    color: var(--light-color);
    margin-bottom: 30px;
    font-size: 24px;
}

footer p {
    color: var(--muted-color);
}

footer ul li {
    list-style: none;
    margin-bottom: 20px;
    color: var(--muted-color);
}

footer ul li a {
    color: var(--muted-color);
}

footer .list-social {
    margin-top: 30px;
    margin-bottom: 35px;
}

footer .list-social i {
    font-size: 30px;
    margin-right: 10px;
    border-radius: 50%;
    padding: 10px;
    background-color: var(--secondary-light-color);
    width: 50px;
    height: 50px;
    text-align: center;
    color: var(--dark-light-color);
}

.footer-bottom {
    color: var(--muted-color);
    text-align: center;
    padding: 25px 0;
}

/* Animation */
.hidden {
    opacity: 0;
    transform: translateY(110px);
    transition: ease 1.3s;
}

.show {
    opacity: 1;
    transform: translateX(0px);
}

/* custom slick */
.slick-dots {
    margin-bottom: 40px;
}

.slick-dots li {
    background-color: grey;
    border-radius: 50%;
    width: 10px;
    height: 10px;

}

.slick-dots li.slick-active {
    background-color: var(--light-color);
}

/* back to top */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: ease 0.5s;
}

.back-to-top i {
    font-size: 30px;
    background-color: var(--secondary-light-color);
    color: var(--dark-light-color);
    padding: 10px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
}

/* Responsive */
@media screen and (max-width: 992px) {
    .my-banner .item {
        position: relative;
    }

    .my-banner .item .info {
        padding-top: 90px;
        text-align: center;
        width: 300px;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        z-index: 999;
    }

    .my-banner .item .avatar {
        margin-top: 100px;
    }

    .my-banner .item .avatar img {
        width: 100%;
    }

}

@media screen and (max-width: 768px) {
    .my-skill .box img {
        height: 80px;
    }
}