* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --warning-color: #F2BC36;
    --dark-color: black;
    scroll-behavior: smooth;
}

body {
    background-color: var(--dark-color);
}

/* navigation */

header {
    top: -999px;
}

header.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: var(--dark-color);
    transition: ease 0.5s;
}

nav .navbar-brand {
    color: white !important;
    font-weight: bold;
    font-size: 25px;
}

nav .navbar-toggler {
    background-color: grey;
}

nav ul li a {
    color: white !important;
    text-transform: capitalize;
    font-weight: 500;
    margin-right: 25px;
    font-size: 18px;
}

nav ul li a.active span {
    color: var(--warning-color) !important;
    border-bottom: 1px solid var(--warning-color);
    border-width: 2px;
    height: 32px;
    display: inline-block;
}

/* banner */
#banner .info {
    margin-top: 100px;
}

#banner .info h6 {
    margin-bottom: 15px;
    color: #F2BC36;
    font-weight: bold;
}

#banner .info h2 {
    font-size: 70px;
    font-weight: bold;
    color: white;
}

#banner .info h3 {
    margin-top: 25px;
    color: white;
}

#banner .info .contact-me {
    margin-top: 45px;
}

#banner .info .contact-me span {
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: 500;
}

#banner .info .contact-me span.active {
    color: var(--dark-color);
    background-color: #F2BC36;
}

#banner .info .contact-me span:last-child {
    margin-left: 15px;
}

/* about-me */
#about-me {
    margin-top: 60px;
}

#about-me h2 {
    font-size: 50px;
    font-weight: bold;
    color: white;
}

#about-me p {
    margin-top: 25px;
    color: rgb(163, 157, 157);
}

#about-me table tr {
    line-height: 40px;
}

#about-me table tr th:first-child {
    width: 40%;
    color: white;
}

#about-me table tr td:last-child {
    color: rgb(163, 157, 157);
}

#about-me .cv {
    margin-top: 20px;
}

#about-me .cv div {
    font-size: 20px;
    font-weight: bolder;
    color: white;
}

#about-me .cv .qty-project {
    color: #F2BC36;
    font-size: 25px;
}

#about-me .cv .qty-project+span {
    color: red;
    color: #F2BC36;
    font-size: 25px;
}

#about-me .cv a {
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: 500;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    background-color: #F2BC36;
    color: var(--dark-color);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 12px;
}

/* Resume */
#resume {
    margin-top: 60px;
}

#resume h2 {
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

#resume>p {
    text-align: center;
    width: 80%;
    margin: auto;
    color: rgb(170, 165, 157);
}

#resume .info {
    margin-top: 50px;
}

#resume .info .box {
    padding: 35px 25px;
    border-radius: 10px;
    margin-bottom: 25px;
    background-color: #1A1A1A;
}

#resume .info .year {
    color: #F2BC36;
}

#resume .info .position {
    color: white;
}

#resume .info .word-place {
    font-size: 15px;
    text-transform: uppercase;
    color: rgb(135, 137, 139);
}

#resume .info p {
    color: rgb(135, 137, 139);
}

#resume .cv {
    margin-top: 40px;
    text-align: center;
}

#resume .cv a {
    color: white;
    border: 1px solid white;
    padding: 22px 45px;
    border-radius: 35px;
    font-weight: 500;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    background-color: #F2BC36;
    color: black;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 12px;
}

/* My Skill */
#my-skill {
    margin-top: 80px;
}

#my-skill h2 {
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

#my-skill p {
    color: rgb(135, 137, 139);
    text-align: center;
}

#my-skill .button-group {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#my-skill .button-group button {
    padding: 5px 10px;
    margin: 10px;
    border: 1px solid white;
    background-color: #1A1A1A;
    color: white;
}

#my-skill .button-group button.active {
    background-color: var(--warning-color);
    color: var(--dark-color);
}

#my-skill .box img {
    width: 100%;
    height: 120px;
}

/* Our Projects */
#our-projects {
    margin-top: 80px;
}

#our-projects h2 {
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

#our-projects p {
    color: rgb(135, 137, 139);
    text-align: center;
}

#our-projects .view-website {
    color: white;
    border: 1px solid white;
    padding: 5px;
    border-radius: 35px;
    font-weight: 500;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    background-color: #F2BC36;
    color: black;
    text-transform: uppercase;
    font-size: 10px;
}

/* Contact Me */
#contact-me {
    margin-top: 50px;
}

#contact-me h2 {
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

#contact-me p {
    color: rgb(135, 137, 139);
    text-align: center;
}

#contact-me .icon {
    font-size: 40px;
    color: #F2BC36;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: #1A1A1A;
    margin: auto;
    padding-top: 18px;
}

#contact-me .title {
    margin-top: 20px;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

#contact-me .desc {
    color: rgb(160, 158, 156);
    margin-top: 15px;
}

.form-contact .box-avatar {
    background-color: #1E1E1E;
    height: 100%;
}

.form-contact form {
    background-color: aliceblue;
    padding: 30px;
}

.form-contact form input {
    height: 50px;
}

.form-contact form button {
    color: white;
    border: 1px solid white;
    padding: 15px 35px;
    border-radius: 35px;
    font-weight: 500;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    background-color: #F2BC36;
    color: black;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 12px;
}

#form-contact .error {
    color: red;
}

/* Footer */
footer {
    margin-top: 80px;
}

footer h3 {
    color: white;
    margin-bottom: 30px;
    font-size: 24px;
}

footer p {
    color: rgb(170, 165, 157);
}

footer ul li {
    list-style: none;
    margin-bottom: 20px;
    color: rgb(170, 165, 157);
}

footer ul li a {
    color: rgb(170, 165, 157);
}

footer .list-social {
    margin-top: 30px;
}

footer .list-social i {
    font-size: 30px;
    margin-right: 10px;
    border-radius: 50%;
    padding: 10px;
    background-color: #1A1A1A;
    width: 50px;
    height: 50px;
    text-align: center;
    color: white;
}

.footer-bottom {
    color: rgb(170, 165, 157);
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

/* Animation */
.hidden {
    opacity: 0;
    transform: translateY(110px);
    transition: ease 1.3s;
}

.show {
    opacity: 1;
    transform: translateX(0px);
}

/* custom slick */
.slick-dots {
    margin-bottom: 40px;
}

.slick-dots li {
    background-color: grey;
    border-radius: 50%;
    width: 10px;
    height: 10px;

}

.slick-dots li.slick-active {
    background-color: white;
}

/* Responsive */
@media screen and (max-width: 992px) {
    #banner .my-banner .item {
        position: relative;
    }

    #banner .my-banner .item .info {
        padding-top: 60px;
        text-align: center;
        width: 300px;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        z-index: 999;
    }

    #banner .my-banner .item .avatar {
        margin-top: 100px;
    }

    #banner .my-banner .item .avatar img {
        width: 100%;
    }

}

@media screen and (max-width: 768px) {
    #my-skill .box img {
        height: 80px;
    }
}